In [1]:
import time

import src.plots as plots
import src.data as data
COLUMNS = data.DayModelData.COLUMNS

model_data = data.DayModelData()
df = model_data.get_df()
machine_ids = model_data.get_machine_ids()

2023-03-23 12:01:52.870
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/legross/Code/streamlit-pen/.conda/lib/python3.7/site-packages/ipykernel_launcher.py [ARGUMENTS]
2023-03-23 12:01:52.917 Found credentials in shared credentials file: ~/.aws/credentials

In [2]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,0.0,2015-10-20 06:00:00,35,163.694699,451.186295,108.706941,36.411201,17,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,2015-10-20 06:00:00,33,166.247429,448.741934,108.795064,43.679916,14,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,2015-10-20 06:00:00,55,164.533977,534.062226,100.853468,28.175237,17,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,2015-10-20 06:00:00,52,171.681299,468.571798,85.961831,37.797750,14,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,2015-10-20 06:00:00,9,165.207313,437.800677,106.265743,30.710708,7,0,0,...,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.describe()

,0,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
count,175220.000000,175220.000000,175220.000000,175220.000000,175220.000000,175220.000000,175220.000000,175220.000000,175220.000000,175220.000000,...,175220.000000,175220.000000,175220.000000,175220.000000,175220.000000,175220.000000,175220.00000,175220.000000,175220.000000,175220.000000
mean,0.006986,50.499081,170.703479,446.494865,100.975151,40.354488,11.330071,0.004691,0.001027,0.001119,...,0.319986,0.025865,0.028319,0.022246,0.022241,0.008983,0.02026,0.020837,0.021116,0.019267
std,0.083287,28.865838,15.570604,52.851578,11.157189,5.342967,5.827691,0.068332,0.032035,0.033427,...,0.466472,0.162393,0.167355,0.149674,0.148199,0.094352,0.14089,0.142838,0.143772,0.137463
min,0.000000,1.000000,102.644146,160.258190,58.850786,19.171473,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,0.000000,25.000000,160.165623,412.163674,93.547420,36.756266,6.750000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,0.000000,50.000000,170.542796,447.295908,100.499425,40.236292,12.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,0.000000,75.000000,180.933149,482.161284,107.661338,43.741908,16.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
max,1.000000,100.000000,255.124717,695.020984,182.111770,70.365920,20.000000,1.000000,1.000000,1.000000,...,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.00000,1.000000,1.000000,1.000000

In [4]:
machine_signal = df.loc[df[2] == int(2)]

In [9]:
max(machine_signal.iloc[:,1])

Timestamp('2016-01-01 06:00:00')

In [10]:
min(machine_signal.iloc[:,1])

Timestamp('2015-10-20 07:00:00')

In [14]:
from datetime import timedelta
# from datetime import datetime
machine_signal.columns = COLUMNS
end_date = max(machine_signal.iloc[:,1])
start_date = end_date - timedelta(hours=12)

time_window_signal = machine_signal[(machine_signal['datetime'] >= start_date) & (machine_signal['datetime'] <= end_date)]

KeyError: 'datetime'